*,*::after,*::before {
    box-sizing: border-box;
}
body {
    margin: 0;

    background-color: #eee;
    font-family: 'Lato', sans-serif;
}
.logotype {
    max-width: 300px;
}
@media (max-width: 425px) {
    .logotype {
        display: none;
    }
}
.menu {
    display: flex;
    justify-content: space-between;
    width: 35vw;
}
@media (max-width: 425px) {
    .menu {
        width: 90vw;
    }
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
a:visited {
    color: black;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    width: 100%;
    min-height: 75px;
    padding: 0 20px;

    background-color: #eee;
}

.order {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.order-title {
    margin-bottom: 20px;
    margin-top: 0px;

    font-size: 1.5em;
    font-weight: bold;
}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#email {
    width: 275px;
    padding: 5px;
}
#submit {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
}
#submit:hover {
    transition: 1.5s;
    background-color: darkorange;
}


.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.advantages {
    margin-top: 30px;
}
.advantage-item {
    display: flex;
    justify-content: space-around;
}
.advantage-item-img {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 125px;
    width: 20vw;
    padding: 5px;
}
.advantage-item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}
.fa-hotjar, .fa-truck, .fa-battery-full {
    font-size: 3em;
    color: darkorange;
}
.description-title, .description-text {
    margin: 0;
}

#video {
    display: flex;
    margin: 50px auto 0;
    max-width: 100%;
}



.catalog {
    margin-top: 60px;
}
.catalog-cards {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 425px) {
    .catalog-cards {
        flex-direction: column;
    }
    .catalog-card {
        width: 90vw;
    }
}
.catalog-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
@media (max-width: 425px) {
    .catalog-card {
        width: 90vw;
    }
}
.card-list {
    padding: 0;
    text-align: center;
}
.card-title {
    width: 100%;
    padding: 15px 0;
    margin: 0;
    background-color: #ddd;
}
.card-price {
    margin: 15px 0 0;
    font-size: 1.5em;
}
.card-list-item {
    padding: 5px 0;
}
.card-btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    display: block;
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
    cursor: pointer;
}
.card-btn:hover {
    background-color: darkorange;
    transition: 1.5s;
}


.footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}
.footer-copyright {
    margin-top: 5px;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}
.footer-list {
    display: flex;
    justify-content: flex-end;
}
.footer-item {
    padding: 0 10px;
}